<div class="container-md bg-light border border-gray mt-5">
  <h1 class="text-danger">Разгадай загадки! </h1>
  <app-mystery-card *ngFor="let question of questions"
                    [question]="question"
  ></app-mystery-card>
  <h6>Всего {{ questions.length}} загадок</h6>
  <p>Правильных ответов {{ tries}}</p>
</div>
