<div class="card" style="width:30rem;">
  <div class="card-body">
    <h5 class="card-title">Загадка</h5>
    <p class="card-text">{{ question.question }}</p>
    <app-answer appAnswerBackground = "{{ question.responseStatus }}" ></app-answer>
    <button class="btn btn-danger m-2"   (click)="getAnswer()">Ответить</button>

    <button class="btn btn-primary" (click)="openCheckoutModal()">Подсказка</button>
    <p>Ответ: <strong>{{ question.responseStatus }}</strong></p>

  </div>
</div>

<app-modal
  title="Go to checkout?"
  [isOpen]="modalOpen"
  (close)="closeCheckOutModal()"
>

  <div class="modal-body">
    <h3>Подсказка</h3>
    <p>{{ question.prompt }}</p>
  </div>
</app-modal>
